{% extends 'movie/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class=" row">
            <div class="col-md-3"><div style="padding-top: 20px class="card" style="width: 18rem;">
                <img src="{{object.movie_image.url}}" class="card-img-top" alt="no image" width="100px" height="200px">
                <div style="margin-bottom: 20px class="card-body">
                <h2 class="card-title">{{object.movie_title}}</h2>
                <p class="card-text">{{object.movie_description}}</p>
                <p class="card-text">{{object.release_date}}</p>
                    <p class="card-text">{{object.actors}}</p>
                    <p class="card-text">{{object.movie_user}}</p>
                <a class="btn btn-outline-primary btn-sm mt-1 bt-1" href="{% url 'post-review' object.id %}">Review and Rate</a>
                {% if object.movie_user == user %}
                <a class="btn btn-outline-secondary btn-sm mt-1 bt-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-outline-danger btn-sm mt-1 bt-1" href="{% url 'post-delete' object.id %}">Delete</a>
                {% endif %}
            </div>
            </div>
        </div>

{% endblock content %}
