{% extends "movie/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
            <p>{{ user.first_name }}</p>
            <p>{{ user.last_name }}</p>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" enctype="multipart/form-data">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
      <!-- FORM HERE -->
    </div>
{% endblock %}
